
body{
    background-color: #eee;
    margin: 0;
}

.big-upload-btn{
    width: 150px;
    height: 200px;
    background-color: #f1f1f1;
    border: 2px dashed #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.big-upload-btn:hover{
    background-color: #e1e1e1;
}

.big-upload-btn i{
    font-size: 50px;
    color: #ccc;
    transition: all 0.2s ease-in-out;

}

.big-upload-btn:hover i{
  color: #888;
}

.card-grid-row{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
    
}

.digi-card{
    border-left : 3px solid crimson;
}

.gen-card{
    min-height: 90vh;
}

.react-pdf__Document{
    box-shadow: 2px 2px 15px 2px #0000003b, -1px -1px 15px 2px #2c2c2c3b;
}

.upload-btn{
    background-color: crimson;
    /* color: white; */
    padding: 20px 40px;
}

.generate-btn{
    /* color: white; */
    padding: 20px 40px;
}

.sheet-preview{
    overflow: auto;
    height: 55vh;
}

.digi-table thead{
    background-color: crimson !important;
    color: white;
    font-size: 1.2em;
}

.digi-table td{
    border: 1px solid crimson;
}
.template-name{
    font-size: 0.8em;
    font-weight: 600;
    color: crimson;
    text-align: center;
}

.template-grid-card{
    
}